<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  	<meta name="mobile-web-app-capable" content="yes">
  	<meta name="apple-mobile-web-app-capable" content="yes">
    <title>The Boys</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular-base-apps/1.2.6/base-apps.min.css">
    <link href="assets/css/app.css" rel="stylesheet" type="text/css">
  </head>
  <body ba-close-all="">
    <div class="grid-frame loading-screen fadeOut" ng-if="false">
      <div class="grid-block vertical align-center">
        <div class="grid-content shrink text-center">
          <div class="loader-container spinner-loader-container">
            <div class="spinner-loader">
              <div class="spinner-icon color-primary size-large"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-frame">
      <div class="grid-block vertical">
        <div class="grid-content collapse shrink">
          <div class="title-bar">
            <div class="center title" ui-sref="home">The Boys</div>
            <span class="left"><a href="#"></a></span>
            <span class="right">
                <div class="menu-group primary">
                    <div class="menu-group-right">
                        <ul class="icon-left primary menu-bar">
                            <li><a ui-sref="champions">Champions</a></li>
                            <li><a ui-sref="voting">Voting</a></li>
                            <li ng-if="!$root.user"><a ui-sref="account({login: true})">Login</a></li>
                            <li ng-if="$root.user"><a ui-sref="account({logout: true})">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </span>
          </div>
        </div>
        <div class="grid-block">
          <div class="grid-block vertical"  ui-view>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/base-apps-dep.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angular-base-apps/1.2.7-3/base-apps.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angular-base-apps/1.2.7-3/base-apps-templates.min.js"></script>
    <script type="text/javascript" src="assets/js/routes.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCB3MFTc1MSubjlPq6qiSR7FVCqVODAUyI",
        authDomain: "the-boys-34d13.firebaseapp.com",
        databaseURL: "https://the-boys-34d13.firebaseio.com",
        storageBucket: "",
      };
      firebase.initializeApp(config);
    </script>
    <script type="text/javascript">setTimeout(function(){angular.bootstrap(document,["fantasyfootballapp"]);});</script>
  </body>
</html>
