---
name: team
url: /team/:id
title: Team
controller: TeamController
animationIn: slideInRight
animationOut: slideOutLeft
---
<div class="grid-content text-center" ng-if="!editing">
  <h2>{{ team.name }}</h2>
  <h6>({{ team.owner }})</h6>
  <a ng-if="team.url" ng-href="{{ team.url }}">Yahoo Team Page</a>
  <br/>
  <a class="button" ng-click="startEditing()">Edit</a>
</div>
<div class="grid-content text-center" ng-if="editing">
  <label>Team Name</label>
  <input type="text" ng-model="team.name"></input>
  <label>Team Owner</label>
  <input type="text" ng-model="team.owner"></input>
  <label>Yahoo Team Url</label>
  <input type="text" ng-model="team.url"></input>
  <a class="button" ng-click="stopEditing()">Done</a>
</div>
